extends ../layout

block content 
    h1 #{equipment.name}

    p #[strong Price:] #{equipment.price}
    p #[strong Category:] #{equipment.category.name}

    hr 
    
    p #[strong Description:] #{equipment.description}
    

    