extends ../layout 

block content 
    h1= title 

    form(method="POST", action="")
        div.form-group
            label(for="name") Name: 
            input#name.form-control(type="text" placeholder="Name of location/store" name="name" 
            required="true" value=(undefined === location ? "" : location.name))
        div.form-group
            label(for="address") Address: 
            input#adress.form-control(type="text" placeholder="Address of location/store" name="address"
            required="true" value=(undefined === location ? "" : location.address))
        button.btn.btn-primary(type="submit") Submit 

    if errors 
        ul 
            for error in errors 
                li!= error.msg