extends ../layout

block content 
    h1 #{title}

    p Do you really want to delete this inventory?

    form(method="POST" action="")
        div.form-group
            input#inventoryid.fomr-control(type="hidden" name="inventoryid" required="true" value=inventory._id)
        
        button.btn.btn-primary(type="submit") Delete