extends ../layout

block content 
    h1.text-center.p-4.text-dark= title

    div.container-fluid
        div.row
            div.col
                div.container-fluid.w-75
                    ul.list-group
                        each category in category_list 
                            a.list-group-item.list-group-item-action.list-group-item-light.text-dark.p-3.text-center.text-lg-start(href=category.url) #{category.name}
                        else 
                            p There are no categories.